html, body {
  margin: 1em 2em;
  color: #333;
  background-color: #fff;
  font-size: 1.3em;
  line-height: 1.5;
}

.example .request.get pre:first-child:before {
  content: "GET";
  margin-right: 0.5em;
  color: #bebdbb;
}
.example .request pre {
  display: inline;
}
.example .request pre[contenteditable="true"] {
  text-decoration: underline;
  font-weight: 600;
}
.example .request pre[contenteditable="true"] * {
  display: none;
}

.example .response-container {
  position: relative;
}
.example .response-container .close {
  position: absolute;
  top: 0.5em;
  right: 1em;
  cursor: pointer;
}
.example .response-container .close:before {
  content:"\00d7" /* &times; */
}

.example .response-container .response {
  padding: 1em 2em;
  overflow: auto;
  max-height: 15em;
}
.example .response-container .response.success {
  background-color: #83ce56;
}
.example .response-container .response.error {
  background-color: #e17d52;
}

.hidden {
  display: none !important;
}
